.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *height: 1%;
}

.tl {
    text-align: left;
}

.tc {
    text-align: center;
}

.tr {
    text-align: right;
}

.f12 {
    font-size: 12px;
}

.f13 {
    font-size: 13px;
}

.f14 {
    font-size: 14px;
}

.f16 {
    font-size: 16px;
}

.f20 {
    font-size: 20px;
}

.f22 {
    font-size: 22px;
}

.f24 {
    font-size: 24px;
}

.f26 {
    font-size: 26px;
}

.f28 {
    font-size: 28px;
}

.f30 {
    font-size: 30px;
}


.m10 {
    margin: 10px;
}

.m15 {
    margin: 15px;
}

.m30 {
    margin: 30px;
}

.mt5 {
    margin-top: 5px;
}

.mt10 {
    margin-top: 10px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt30 {
    margin-top: 30px;
}

.mt50 {
    margin-top: 50px;
}

.mt100 {
    margin-top: 100px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb30 {
    margin-bottom: 30px;
}

.mb50 {
    margin-bottom: 50px;
}

.mb100 {
    margin-bottom: 100px;
}

.ml5 {
    margin-left: 5px;
}

.ml10 {
    margin-left: 10px;
}

.ml15 {
    margin-left: 15px;
}

.ml20 {
    margin-left: 20px;
}

.ml30 {
    margin-left: 30px;
}

.ml50 {
    margin-left: 50px;
}

.ml100 {
    margin-left: 100px;
}

.mr5 {
    margin-right: 5px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr30 {
    margin-right: 30px;
}

.mr50 {
    margin-right: 50px;
}

.mr100 {
    margin-right: 100px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p30 {
    padding: 30px;
}

.pt5 {
    padding-top: 5px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt30 {
    padding-top: 30px;
}

.pt50 {
    padding-top: 50px;
}

.pt100 {
    padding-top: 100px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pb30 {
    padding-bottom: 30px;
}

.pb50 {
    padding-bottom: 50px;
}

.pb100 {
    padding-bottom: 100px;
}

.pl5 {
    padding-left: 5px;
}

.pl10 {
    padding-left: 10px;
}

.pl15 {
    padding-left: 15px;
}

.pl20 {
    padding-left: 20px;
}

.pl30 {
    padding-left: 30px;
}

.pl50 {
    padding-left: 50px;
}

.pl100 {
    padding-left: 100px;
}

.pr5 {
    padding-right: 5px;
}

.pr10 {
    padding-right: 10px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.pr30 {
    padding-right: 30px;
}

.pr50 {
    padding-right: 50px;
}

.pr100 {
    padding-right: 100px;
}









/**
 * 头部
 */

.com-header {
    position: relative;
    z-index: 1000;
    height: 60px;
    background-color: #23262E;
    a {
        &:hover {
            transition: all .5s;
            -webkit-transition: all .5s;
        }
    }
    .layui-nav {
        background: none;
    }
}

.com-header-logo {
    position: absolute;
    left: 15px;
    top: 0;
    padding-right: 40px;
    height: 100%;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 24px;
}

.com-header-nav {
    position: absolute;
    left: 300px;
    top: 0;
}

.com-header-nav * {
    font-size: 16px;
}

.com-header-user {
    position: absolute;
    right: 20px;
    top: 0;
}

.com-header-user * {
    font-size: 16px;
}







/**
 * 
 */

.com-side {
    top: 60px;
    width: 220px;
    overflow-x: hidden;
    background-color: #393D49;
    color: #fff !important;
    bottom: 0;
    z-index: 999;
    position: fixed;
}



.com-side-menu-wrap {
    width: 240px;
    height: 100%;
    overflow-x: hidden;
}

.com-side-menu {

    li {
        a {
            position: relative;
            display: block;
            height: 45px;
            line-height: 45px;
            padding: 0 15px 0 10px;
            background-color: #4E5465;
            transition: all 0.2s;
            white-space: nowrap;
            text-overflow: ellipsis;
            .layui-icon {
                color: #fff;
                color: rgba(255, 255, 255, .7);
                font-size: 24px;
                margin-right: 5px;
                vertical-align: middle;
                transition: background 0.2s;
            }
            .txt {
                color: #fff;
                color: rgba(255, 255, 255, .7);
                font-size: 16px;
                transition: all 0.2s;
            }
            .more {
                content: '';
                width: 0;
                height: 0;
                border-style: dashed;
                border-color: transparent;
                overflow: hidden;
                cursor: pointer;
                transition: all .2s;
                -webkit-transition: all .2s;
                position: absolute;
                top: 50%;
                right: 35px;
                margin-top: -3px;
                border-width: 6px;
                border-top-style: solid;
                border-top-color: #fff;
                border-top-color: rgba(255, 255, 255, .7);
            }
            &:hover {
                background-color: #5FB878; // background:#00c1de;
                .layui-icon {
                    color: #fff;
                }
                .txt {
                    color: #fff;
                }
                .more {
                    border-top-color: #fff;
                }
            }
        }
        &.treeview {
            &.active {
                .treeview-menu {
                    max-height: auto;
                }
            }
            .treeview-menu {
                width: 240px;
                transition: max-height 0.2s;
                overflow-y: scroll;
                overflow-x: hidden;
                max-height: 0;
                li {

                    a {
                        background: none;
                        color: #fff;
                        color: rgba(255, 255, 255, .7);
                        padding-left: 42px;
                        padding-right: 15px;
                        font-size: 16px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        &:hover {
                            color: #fff;
                        }
                    }
                    &.active {
                        a {
                            background: #5FB878;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}







/**
 * 
 */

.com-body {
    position: absolute;
    left: 220px;
    right: 0;
    top: 60px;
    bottom: 0px;
    z-index: 998;
    width: auto;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}









/**
 * 
 */

.com-tab-title {
    position: relative;
    left: 0;
    height: 40px;
    white-space: nowrap;
    font-size: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    transition: all .2s;
    -webkit-transition: all .2s;
    border-color: #e6e6e6;
    li {
        display: inline-block;
        *display: inline;
        *zoom: 1;
        vertical-align: middle;
        font-size: 14px;
        transition: all .2s;
        -webkit-transition: all .2s;
        position: relative;
        line-height: 40px;
        min-width: 65px;
        padding: 0 15px;
        text-align: center;
        cursor: pointer;
        a {
            display: block;
            height:100%;
        }
        &.active {
            &:after {
                position: absolute;
                left: 0;
                top: 0;
                content: '';
                width: 100%;
                height: 41px;
            }
        }
    }

    &.type-1 {
        li {
            &.active {
                &:after {
                    border-width: 1px;
                    border-style: solid;
                    border-color: #e6e6e6;
                    border-bottom-color: #fff;
                    border-radius: 2px 2px 0 0;
                    box-sizing: border-box;
                    pointer-events: none;
                }
            }
        }
    }
    &.type-2 {
        li {
            &.active {
                color: #009688;
                a {
                    color: #009688;
                }
                &:after {
                    border-bottom: 2px solid #5FB878;
                }
            }
        }
    }
}
.com-tab-body{
    display:none;
    &.active{
        display:block;
    }
}